*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.row1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
  background-color: rgb(208, 208, 208);
  height: 50px;
  align-items: center;
  padding: 1rem;
  direction: rtl;
  font-size: 2.3rem;
}

.row2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
}

.row3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
}

.row4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
}

.row5 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
}

.row6 {
  display: flex;
}

.btn {
  width: 70px;
  height: 70px;
  border: 1px solid rgb(208, 208, 208);
  cursor: pointer;
  transition: all 0.2s;
  font-size: 2rem;
}

.btn:hover {
  border: 2px solid black;
}

.btn0 {
  width: 140px;
}

.btn-orange {
  background-color: rgba(255, 166, 0, 0.741);
}

.btn-orange:hover {
  background-color: rgba(255, 166, 0, 0.919);
}

.btn-orange:active {
  background-color: rgb(255, 149, 0);
}

.btn-gray:hover {
  background-color: rgb(191, 191, 191);
}

.btn-gray:active {
  background-color: rgb(129, 129, 129);
  color: #fff;
}
